.valueNoError { font-size: 20px; font-style: italic; }
.valueInfo { font-size: 20px; font-style: italic; white-space: normal !important; }
.valueWarning { font-size: 20px; font-weight: bold; font-style: italic; }
.valueError { font-size: 20px; font-weight: bold; font-style: italic; }
.valueOK { font-size: 20px; font-style: italic; }
.control-set { 
    padding: 10px;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    border-bottom-width: 1px !important;
}

.valueNoError-wma { color:#909090; }
.valueInfo-wma { color:#000; }
.valueWarning-wma { color:#b60; }
.valueError-wma { color:#c00; }
.valueOK-wma { color:green; }
.valueService-wma{ background-color:#fdd017 !important;}
.control-set-wma{ border-color: #000; }

.valueNoError-wmb { color:#909090;}
.valueInfo-wmb { color:#fff; }
.valueWarning-wmb { color:#b60; }
.valueError-wmb { color:#c00; }
.valueOK-wmb { color:green; }
.valueService-wmb{ background-color:#2ad !important;}
.control-set-wmb{ border-color: #fff; }

.valueNoError-wmc { color:#909090;}
.valueInfo-wmc { color:#fff; }
.valueWarning-wmc { color:#b60; }
.valueError-wmc { color:#c00; }
.valueOK-wmc { color:green; }
.valueService-wmc{ background-color:#f75d59 !important;}
.control-set-wmc{ border-color: #fff; }

.valueNoError-wmd { color:#909090;}
.valueInfo-wmd { color:#fff; }
.valueWarning-wmd { color:#b60; }
.valueError-wmd { color:#c00; }
.valueOK-wmd { color:green; }
.valueService-wmd{ 
    background-color:#fdd017 !important;
    color: #3d5a20 !important;
}
.control-set-wmd{ border-color: #fff; }

.valueNoError-wme { color:#909090;}
.valueInfo-wme { color:#fff; }
.valueWarning-wme { color:#b60; }
.valueError-wme { color:#c00; }
.valueOK-wme { color:green; }
.valueService-wme{ 
    background-color:#fdd017 !important;
    color: #000 !important;
}
.control-set-wme{ border-color: #fff; }

.valueNoError-wmf { color:#909090;}
.valueInfo-wmf { color:#000; }
.valueWarning-wmf { color:#b60; }
.valueError-wmf { color:#c00; }
.valueOK-wmf { color:green; }
.valueService-wmf{ 
    background-color:#e0e0e0 !important;
    color: gray !important;
}
.control-set-wmf{ border-color: #000; }

.valueNoError-wmg { color:#909090;}
.valueInfo-wmg { color:#fff; }
.valueWarning-wmg { color:#b60; }
.valueError-wmg { color:#c00; }
.valueOK-wmg { color:green; }
.valueService-wmg{ background-color:#fdd017 !important;}
.control-set-wmg{ border-color: #fff; }

.valueNoError-wmh { color:#909090;}
.valueInfo-wmh { color:#fff; }
.valueWarning-wmh { color:#b60; }
.valueError-wmh { color:#c00; }
.valueOK-wmh { color:green; }
.valueService-wmh{ background-color:#fdd017 !important;}
.control-set-wmh{ border-color: #fff; }

.valueNoError-wmi { color:#909090;}
.valueInfo-wmi { color:#fff; }
.valueWarning-wmi { color:#b60; }
.valueError-wmi { color:#c00; }
.valueOK-wmi { color:green; }
.valueService-wmi{ background-color:#fdd017 !important;}
.control-set-wmi{ border-color: #fff; }

.valueNoError-wmj { color:#909090;}
.valueInfo-wmj { color:#fff; }
.valueWarning-wmj { color:#b60; }
.valueError-wmj { color:#c00; }
.valueOK-wmj { color:green; }
.valueService-wmj{ background-color:#ffebcd !important;}
.control-set-wmj{ border-color: #fff; }

.valueNoError-wmk { color:#909090;}
.valueInfo-wmk { color:#fff; }
.valueWarning-wmk { color:#b60; }
.valueError-wmk { color:#c00; }
.valueOK-wmk { color:green; }
.valueService-wmk{ background-color:#fdd017 !important;}
.control-set-wmk{ border-color: #fff; }

.valueNoError-wml { color:#909090;}
.valueInfo-wml { color:#fff; }
.valueWarning-wml { color:yellow; }
.valueError-wml { color:#ff8c00; }
.valueOK-wml { color:#5cb3ff; }
.valueService-wml{ background-color:#ff8c00 !important;}
.control-set-wml{ border-color: #fff; }

.valueNoError-wmm { color:#909090;}
.valueInfo-wmm { color:#fff; }
.valueWarning-wmm { color:#b60; }
.valueError-wmm { color:#c00; }
.valueOK-wmm { color:green; }
.valueService-wmm { background-color:#fdd017 !important;}
.control-set-wmm { border-color: #fff; }

.valueNoError-a, .valueNoError-b, .valueNoError-c, .valueNoError-d, .valueNoError-e, .valueNoError-f, .valueNoError-g, .valueNoError-h, .valueNoError-i, .valueNoError-j, .valueNoError-k, .valueNoError-l { color:#909090; }
.valueInfo-a, .valueInfo-b, .valueInfo-c, .valueInfo-d, .valueInfo-e, .valueInfo-f, .valueInfo-g, .valueInfo-h, .valueInfo-i, .valueInfo-j, .valueInfo-k, .valueInfo-l { color:#000; }
.valueWarning-a, .valueWarning-b, .valueWarning-c, .valueWarning-d, .valueWarning-e, .valueWarning-f, .valueWarning-g, .valueWarning-h, .valueWarning-i, .valueWarning-j, .valueWarning-k, .valueWarning-l { color:#b60; }
.valueError-a, .valueError-b, .valueError-c, .valueError-d, .valueError-e, .valueError-f, .valueError-g, .valueError-h, .valueError-i, .valueError-j, .valueError-k, .valueError-l { color:#c00; }
.valueOK-a, .valueOK-b, .valueOK-c, .valueOK-d, .valueOK-e, .valueOK-f, .valueOK-g, .valueOK-h, .valueOK-i, .valueOK-j, .valueOK-k, .valueOK-l { color:green; }
.valueService-a, .valueService-b, .valueService-c, .valueService-d, .valueService-e, .valueService-f, .valueService-g, .valueService-h, .valueService-i, .valueService-j, .valueService-k, .valueService-l { background-color:#fdd017 !important;}
.control-set-a, .control-set-b, .control-set-c, .control-set-d, .control-set-e, .control-set-f, .control-set-g, .control-set-h, .control-set-i, .control-set-j, .control-set-k, .control-set-l { border-color: #000; }

.grid-text{
    padding-top: 15px;
    padding-left: 5px;
}

img.ui-img-wmf{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.breakText { 
    white-space:normal; 
    word-wrap:break-word; 
}

.description {
    font-style: italic;
    font-size: 12px;
}

.content-secondary {
    width: 30%;
    float: left;
    padding-right: 1%;
}

.content-secondary-two-pages {
    width: 100%;    
}

.content-primary {
    width: 69%;
    float: left;
}

span.RGBW-Color > div > div.ui-slider > div.ui-slider-track:after {
    content: " ";
    display: block;
    background: -webkit-linear-gradient(to right, #ff0000 1%, #ffff00 18%, #00ff00 34%, #00ffff 50%, #0000ff 66%, #ff00ff 82%, #ff0000 99%, #ffffff 99.5%, #ffffff 100%);
    background: -o-linear-gradient(to right, #ff0000 1%, #ffff00 18%, #00ff00 34%, #00ffff 50%, #0000ff 66%, #ff00ff 82%, #ff0000 99%, #ffffff 99.5%,#ffffff 100%);
    background: -moz-linear-gradient(to right, #ff0000 1%, #ffff00 18%, #00ff00 34%, #00ffff 50%, #0000ff 66%, #ff00ff 82%, #ff0000 99%, #ffffff 99.5%,#ffffff 100%);
    background: linear-gradient(to right, #ff0000 1%, #ffff00 18%, #00ff00 34%, #00ffff 50%, #0000ff 66%, #ff00ff 82%, #ff0000 99%, #ffffff 99.5%, #ffffff 100%);
    height: 10px;
    width: 100%;
}

.ui-div-thumbnail {
    left: 0;
    top: 0;
    max-height: 5em;
    max-width: 5em;
}

.text-right {
    text-align: right;
    padding-right: 15px !important;
    padding-top: 10px !important;
}

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}

.editButton{
    float: right;
    margin-top: -40px;
    position: relative;
    top: -30px;
    right: -15px;
}

.ui-block-a,
.ui-block-b,
.ui-block-c,
.ui-block-d,
.ui-block-e,
.ui-block-f,
.ui-block-g{
    white-space: normal !important;
    margin-top: 2px;    
}

.ui-block-f,
.ui-block-g {
    margin: 0;
    margin-top: 2px;
    padding: 0;
    border: 0;
    float: left;
    min-height: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

li.ui-block-f,
li.ui-block-g {
    margin-left: 0;
    margin-right: 0;    
    padding: 0;
    list-style: none;
}

.ui-grid-b > .ui-block-f {
    width: 33.333%;
}
.ui-grid-b > .ui-block-g {
    width: 66.666%;
}

.ui-dialog-contain {
    margin-top: 5% !important;
}

.column-1 > li{
    
}
.column-2 > li{
    width: 46%;
    float: left;
    margin: 3px !important;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-width: 1px !important;
}
.column-3 > li{
    width: 30%;
    float: left;
    margin: 3px !important;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-width: 1px !important;
}
.column-4 > li{
    width: 21%;
    float: left;
    margin: 3px !important;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-width: 1px !important;
}

.column-5 > li{
    width: auto;
    float: left;
    margin: 3px !important;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    border-width: 1px !important;
}

.last-used-time{
    font-size: 12px !important;
}

@media screen and (max-width: 50em)
{
    .content-secondary {
        width: 100%;
    }

    .text-right {
        text-align: left;
        padding-right: 0;
        padding-top: 0;
    }

    .content-primary {
        width: 100%;
        float: left;
    }

    .grid-text{
        padding-top: 0;
        padding-left: 5px;
    }

    .ui-block-a,
    .ui-block-b,
    .ui-block-c,
    .ui-block-d,
    .ui-block-e,
    .ui-block-f,
    .ui-block-g{
        width: 100% !important;
    }

    .small-hidden{
        display: none;
    }

}