.valueNoError { font-size: 16px; font-style: italic; }
.valueInfo { font-size: 16px; font-style: italic; }
.valueWarning { font-size: 16px; font-weight: bold; font-style: italic; }
.valueError { font-size: 16px; font-weight: bold; font-style: italic; }
.valueOK { font-size: 16px; font-style: italic; }

.valueNoError-a { color:#909090; }
.valueInfo-a { color:#000; }
.valueWarning-a { color:#b60; }
.valueError-a { color:#c00; }
.valueOK-a { color:green; }
.valueService-a{ background-color:#fdd017 !important;}

.valueNoError-b { color:#909090;}
.valueInfo-b { color:#fff; }
.valueWarning-b { color:#b60; }
.valueError-b { color:#c00; }
.valueOK-b { color:green; }
.valueService-b{ background-color:#2ad !important;}

.valueNoError-c { color:#909090;}
.valueInfo-c { color:#fff; }
.valueWarning-c { color:#b60; }
.valueError-c { color:#c00; }
.valueOK-c { color:green; }
.valueService-c{ background-color:#f75d59 !important;}

.valueNoError-d { color:#909090;}
.valueInfo-d { color:#fff; }
.valueWarning-d { color:#b60; }
.valueError-d { color:#c00; }
.valueOK-d { color:green; }
.valueService-d{ 
    background-color:#fdd017 !important;
    color: #3d5a20 !important;
}

.valueNoError-e { color:#909090;}
.valueInfo-e { color:#fff; }
.valueWarning-e { color:#b60; }
.valueError-e { color:#c00; }
.valueOK-e { color:green; }
.valueService-e{ 
    background-color:#fdd017 !important;
    color: #000 !important;
}

.valueNoError-f { color:#909090;}
.valueInfo-f { color:#000; }
.valueWarning-f { color:#b60; }
.valueError-f { color:#c00; }
.valueOK-f { color:green; }
.valueService-f{ 
    background-color:#e0e0e0 !important;
    color: gray !important;
}

.valueNoError-g { color:#909090;}
.valueInfo-g { color:#fff; }
.valueWarning-g { color:#b60; }
.valueError-g { color:#c00; }
.valueOK-g { color:green; }
.valueService-g{ background-color:#fdd017 !important;}

.valueNoError-h { color:#909090;}
.valueInfo-h { color:#fff; }
.valueWarning-h { color:#b60; }
.valueError-h { color:#c00; }
.valueOK-h { color:green; }
.valueService-h{ background-color:#fdd017 !important;}

.valueNoError-i { color:#909090;}
.valueInfo-i { color:#fff; }
.valueWarning-i { color:#b60; }
.valueError-i { color:#c00; }
.valueOK-i { color:green; }
.valueService-i{ background-color:#fdd017 !important;}

.valueNoError-j { color:#909090;}
.valueInfo-j { color:#fff; }
.valueWarning-j { color:#b60; }
.valueError-j { color:#c00; }
.valueOK-j { color:green; }
.valueService-j{ background-color:#ffebcd !important;}

.valueNoError-k { color:#909090;}
.valueInfo-k { color:#fff; }
.valueWarning-k { color:#b60; }
.valueError-k { color:#c00; }
.valueOK-k { color:green; }
.valueService-k{ background-color:#fdd017 !important;}

.valueNoError-l { color:#909090;}
.valueInfo-l { color:#fff; }
.valueWarning-l { color:yellow; }
.valueError-l { color:#ff8c00; }
.valueOK-l { color:#5cb3ff; }
.valueService-l{ background-color:#ff8c00 !important;}

img.ui-img-f{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.breakText { white-space:normal; word-wrap:break-word; }

.content-secondary {
    width: 30%;
    float: left;
    padding-right: 1%;
}

.content-primary {
    width: 69%;
    float: left;
}

@media screen and (max-width: 900px)
{
    .content-secondary {
        width: 100%;
    }

    .content-primary {
        width: 100%;
        float: left;
    }
}
